services:
  backend:
    build:
      context: .
      dockerfile: ./docker/backend/Dockerfile
    volumes:
      - ./src:/app
      - ./photos:/photos
    container_name: reverse_glock_backend
    image: reverse_glock_backend
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
              count: 1
